.JoinPage{
    background-color: rgb(30, 28, 28);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.JoinContainer{
    /* border: 2px solid white; */
    height: 70%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
.JoinContainer > img{
    width: 7vmax;
    margin: 5px;
}
.JoinContainer > h1{
    color: white;
    font-size: 3.5vmax;
    width: 30vmax;
    border-bottom: 0.2vmax solid white;
    text-align: center;
    padding: 3vmax;
    font-family: "Roboto";
    
}
#joinInput{
    width: 35vmax;
    padding: 1.6vmax;
    border: none;
    outline: none;
    font-size: 1.8vmax;
    margin: 2vmax;
    box-sizing: border-box;
}
.joinbtn{
    width: 35vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.8vmax;
    background-color: rgb(88, 157, 50);
    box-sizing: border-box;
    transition: all 0.3s;
    cursor: pointer;
}


